.Form2{
    position: fixed;
    left: 30%;
    top: 30%;
    width: 40%;
    border: 2px solid #939393;
    border-radius: 5px;
    background-color:#242424 ;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
p{
    margin-top: 1rem;
}
.loginInput2{
        height: 4vh;
        width: 90%;
        margin:2% 2% ;
}

.buttonlogin2{
    background: #d90429;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    border: none ;
    height: 4vh;
    width: 25%;
    margin:5% 2% ;
}